<div class="container">
    <form [formGroup]="filmForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="form-group content">
            <label class="label">Zoekterm</label>
            <input class="form-control" type="text" placeholder="Geef een zoekterm in" id="searchterm" formControlName="searchTerm" data-cy="searchTerm">
        </div>
        <div class="form-group">
            <button class="btn-primary" data-cy="submit">Zoek</button>
        </div>
    </form>
    <div>
        <pre *ngIf="response">{{response}}</pre>
    </div>
</div>